page-activite {
.vertical-align-content > *
{
     
     align-content: center!important;
     align-items: center!important;
}
.Absolute-Center {
     height: 100%;
  display: block;
  vertical-align: middle;
}
}
